{% extends "base_generic.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'login' %}">{{ username }}</a>
        <ul class="dropdown-menu">
            <!--<li><a href="{% url 'login' %}">Login</a></li>-->
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block navbar-brand %}
    <a class="navbar-brand" id="navbar-brand" data-toggle="modal" data-target="#all_wallets" href="">{{ in_wallet }}</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="center">
                {% if wallet_id %}
                    <div class="pagination">
                        <div class="pagination center">
                            <a href="{% url 'money:dec_month' wallet_id %}">❮</a>
                            <a href="">{{ ddate }}</a>
                            <a href="{% url 'money:inc_month' wallet_id %}">❯</a>
                        </div>
                    </div>
                {% else %}
                    <div class="pagination">
                        <div class="pagination center">
                            <a href="{% url 'money:decrement_month' %}">❮</a>
                            <a href="">{{ ddate }}</a>
                            <a href="{% url 'money:increment_month' %}">❯</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <table class="table">
                 <tbody>
                    <tr>
                        <th>Overview</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Inflow</td>
                        <td class="text-right">{{ wallet.inflow }}</td>
                    </tr>
                    <tr>
                        <td>Outflow</td>
                        <td class="text-right">{{ wallet.outflow }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right">{{ wallet.balance }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <a href="" data-toggle="modal" data-target="#report">View report for this period</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- container -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <table class="table">
                    <tr>
                        <td class="text-center">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#transaction">Add Transaction</button>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div> <!-- container -->
<hr>
{% if all_transactions %}
    {% for transaction in all_transactions %}
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>{{ transaction.time }}</td>
                                <td class="text-right">{{ transaction.amount }}</td>
                            </tr>
                            <tr class='btn clickable-tr' data-toggle="modal" data-target="#edit_transaction{{ transaction.id }}" href="#">
                                <td>{{ transaction.category }}</td>
                                <td class="text-right"></td>
                            </tr>
                            <div id="edit_transaction{{ transaction.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <form method="POST" action="{% url 'money:delete_or_edit' transaction.id %}" id="{{ transaction.id }}">
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">
                                                    <span class="aleft">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </span>&nbsp;
                                                    Edit transaction
                                                    <span class="aright">
                                                        <a class="btn" href="" data-dismiss="modal" data-toggle="modal" data-target="#delete_transaction{{ transaction.id }}">Delete</a>
                                                    </span>
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="amount" class="col-form-label">Amount</label>
                                                    <input class="form-control" type="text" id="amount" name="amount" pattern="[0-9].*" value="{{ transaction.amount }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="category" class="col-form-label">Category</label>
                                                    <select class="form-control" id="category" name="category">
                                                        {% for c in category %}
                                                            {% if c == transaction.category %}
                                                                <option selected>{{ c.name }}</option>
                                                            {% else %}
                                                                <option>{{ c.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="note" class="col-form-label">Note</label>
                                                    <input class="form-control" type="text" name="note" id="note" value="{{ transaction.note }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="time" class="col-form-label">Time</label>
                                                    <input class="form-control" type="date" name="time" id="time" value="{{ transaction.time|date:"c" }}" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="wallet" class="col-form-label">Wallet</label>
                                                    <select class="form-control" id="wallet" name="wallet" disabled>
                                                        {% for w in all_wallets %}
                                                            {% if w == transaction.wallet %}
                                                                <option selected>{{ w.name }}</option>
                                                            {% else %}
                                                                <option>{{ w.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!--<div class="form-group">
                                                    <label for="wallet">Wallet</label>
                                                    <input class="form-control" type="text" name="wallet" id="wallet">
                                                </div>-->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                                                <button type="submit" class="btn btn-primary" name="save">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="delete_transaction{{ transaction.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <p>Delete this transaction?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-default" name="yes" form="{{ transaction.id }}">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $('.clickable-tr').on('click', function(){
                                    var myLink = $(this).attr('href');
                                    window.location.href = myLink;
                                });
                            </script>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- container -->
        <br><br><br>
    {% endfor %}
{% else %}
    <p>No transaction are available.</p>
{% endif %}
<div id="transaction" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add transaction</h4>
            </div>
            <div class="modal-body">
                <!-- form -->
                <form method="POST" action="{% url 'money:add_transaction' %}" id="add_transaction" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="amount" class="col-form-label">Amount</label>
                        <input class="form-control" type="text" id="amount" name="amount" pattern="[0-9].*">
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-form-label">Category</label>
                        <select class="form-control" id="category" name="category">
                            {% for c in category %}
                                <option>{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="note" class="col-form-label">Note</label>
                        <input class="form-control" type="text" name="note" id="note">
                    </div>
                    <div class="form-group">
                        <label for="time" class="col-form-label">Time</label>
                        <input class="form-control" type="date" name="time" id="time" value="{{ date }}" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                    </div>
                    <div class="form-group">
                        <label for="wallet" class="col-form-label">Wallet</label>
                        <select class="form-control" id="wallet" name="wallet">
                            {% for w in all_wallets %}
                                {% if w.id == wallet_id %}
                                    <option selected>{{ w.name }}</option>
                                {% else %}
                                    <option>{{ w.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </form>
                <!-- endform-->
            </div>
            <div class="modal-footer">
                <div class="text-left">
                    <a data-toggle="modal" data-target="#sms" href="" data-dismiss="modal">SMSBanking</a>
                </div>
                <button class="btn btn-primary" type="submit" form="add_transaction">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
            </div>
        </div>
    </div>
</div> 
<div id="all_wallets" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="aleft">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </span> &nbsp;
                    Select wallet
                    <span class="aright">
                        <a class="btn" href="#" data-dismiss="modal" data-toggle="modal" data-target="#my_wallets">Edit</a>
                    </span>
                </h4>
            </div>
            <div class="modal-body">
                <p><a href="{% url 'money:transactions' %}">All wallets</a></p>
                <hr>
                <table>
                    <thead>
                    </thead>
                    <tbody class="table">
                        {% for wallet in all_wallets %}
                        <tr>
                            <td><a href="{% url 'money:transactions_in_wallet' wallet.id %}">{{ wallet.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#add_wallet">Add wallet</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
            </div>
        </div>
    </div>
</div>
<div id="my_wallets" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">My wallets</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tbody class="table">
                        {% for wallet in all_wallets %}
                        <tr>
                            <td><a href="#" data-dismiss="modal" data-toggle="modal" data-target="#edit_wallet{{ wallet.id }}">{{ wallet.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#add_wallet">Add wallet</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
            </div>
        </div>
    </div>
</div>
<div id="report" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Report</h4>
            </div>
            <script>
                {% block jquery %}
                //var endpoint = '/api/chart/data/' + wallet_id.toString()
                var endpoint = "/api/chart/data/" + "{{ wallet_id }}"
                /*if (wallet_id) {
                    endpoint += wallet_id.toString();
                }*/
                var defaultData = []
                var color_c = []
                var labels = [];
                $.ajax({
                    method: "GET",
                    url: endpoint,
                    success: function(data){
                        labels = data.labels
                        defaultData = data.default
                        color_c = data.color
                        setChart()
                    },
                    error: function(error_data){
                        console.log("error")
                        console.log(error_data)
                    }
                })
                function setChart(){
                    var ctx = document.getElementById("myChart");
                    var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: '# of Votes',
                            data: defaultData,
                            backgroundColor: color_c,
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Report By Category',
                        }
                    }
                });
                }
                {% endblock %}
            </script>
            <div class="modal-body">
                <canvas id="myChart" width="750" height="400"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
            </div>
            <script>
                $('#report').on('hidden.bs.modal', function () {
                location.reload();});     // reloads the current page
            </script>
        </div>
    </div>
</div>
<div id="sms" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form method="POST" action="{% url 'money:add_message' %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add transaction</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message" name="message" required data-pattern="{{ bank }}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="wallet" class="col-form-label">Wallet</label>
                        <select class="form-control" id="wallet" name="wallet">
                            {% for w in all_wallets %}
                                {% if w.id == wallet_id %}
                                    <option selected>{{ w.name }}</option>
                                {% else %}
                                    <option>{{ w.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-left">
                        <a data-toggle="modal" data-target="#transaction" href="" data-dismiss="modal">Transaction</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="add_wallet" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form method="POST" action="{% url 'money:add_wallet' %}">
        {% csrf_token %}
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add wallet</h4>
                </div>
                <div class="modal-body">
                    <!--<div class="form-group">
                        <label for="email">Email</label>
                            <input class="form-control" type="text" id="email">
                    </div>-->
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name</label>
                            <input class="form-control" type="text" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="balance" class="col-form-label">Balance</label>
                            <input class="form-control" type="text" name="balance" id="balance" pattern="[0-9].*">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% for wallet in all_wallets %}
    <div id="edit_wallet{{ wallet.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form method="POST" action="{% url 'money:delete_or_edit_wallet' wallet.id %}" id="{{ wallet.id }}">
            {% csrf_token %}
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="aleft">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </span>&nbsp;
                            Edit wallet
                            <span class="aright">
                                <a class="btn" href="" data-dismiss="modal" data-toggle="modal" data-target="#delete_wallet{{ wallet.id }}">Delete</a>
                            </span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <!--<div class="form-group">
                            <label for="email">Email</label>
                                <input class="form-control" type="text" id="email">
                        </div>-->
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name</label>
                                <input class="form-control" type="text" name="name" id="name" value="{{ wallet.name }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" name="save">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="delete_wallet{{ wallet.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4><p>Do you want to delete this wallet?</p></h4>
                    <p>You will also delete all of its transactions and this action cannot be undone</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-default" name="yes" form="{{ wallet.id }}">Yes</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

 <!--<ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>-->
