{% extends "base_generic.html" %}
{% load i18n %}
{% block dropdown %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'login' %}">{{ username }}</a>
        <ul class="dropdown-menu">
            <!--<li><a href="{% url 'login' %}">Login</a></li>-->
            <li><a href="{% url 'logout' %}">{% if cur_language == 'vi' %}Đăng xuất{% else %}Logout{% endif %}</a></li>
        </ul>
    </li>
{% endblock %}

{% block navbar-brand %}
    <a class="navbar-brand" id="navbar-brand" data-toggle="modal" data-target="#all_wallets" href="">{{ in_wallet }}</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="center">
                {% if wallet_id %}
                    <div class="pagination">
                        <div class="pagination center">
                            <a href="{% url 'money:dec_month' wallet_id %}">❮</a>
                            <a href="">{% blocktrans with dm=ddate.month dy=ddate.year %}{{ dm }} - {{ dy }}{% endblocktrans %}</a>
                            <a href="{% url 'money:inc_month' wallet_id %}">❯</a>
                        </div>
                    </div>
                {% else %}
                    <div class="pagination">
                        <div class="pagination center">
                            <a href="{% url 'money:decrement_month' %}">❮</a>
                            <a href="">{% blocktrans with dm=ddate.month dy=ddate.year %}{{ dm }} - {{ dy }}{% endblocktrans %}</a>
                            <a href="{% url 'money:increment_month' %}">❯</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <table class="table">
                 <tbody>
                    <tr>
                        <th>{% if cur_language == 'vi' %}Tổng quan{% else %}Overview{% endif %}</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{% if cur_language == 'vi' %}Khoản thu{% else %}Inflow{% endif %}</td>
                        <td class="text-right">{{ wallet.inflow }}</td>
                    </tr>
                    <tr>
                        <td>{% if cur_language == 'vi' %}Khoản chi{% else %}Outflow{% endif %}</td>
                        <td class="text-right">{{ wallet.outflow }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-right">{{ wallet.balance }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <a href="" data-toggle="modal" data-target="#report">{% if cur_language == 'vi' %}Xem biểu đồ các khoản chi{% else %}View report for this period{% endif %}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- container -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <table class="table">
                    <tr>
                        <td class="text-center">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#transaction">{% if cur_language == 'vi' %}Thêm giao dịch{% else %}Add Transaction{% endif %}</button>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div> <!-- container -->
<hr>
{% if all_transactions %}
    {% for transaction in all_transactions %}
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    {% blocktrans with time=transaction.time %}{{ time }}{% endblocktrans %}
                                </td>
                                <td class="text-right">{{ transaction.amount }}</td>
                            </tr>
                            <tr class='btn clickable-tr' data-toggle="modal" data-target="#edit_transaction{{ transaction.id }}" href="#">
                                {% for c in category %}
                                    {% if c.category == transaction.category %}
                                        <td>{{ c.name }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td class="text-right"></td>
                            </tr>
                            <div id="edit_transaction{{ transaction.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <form method="POST" action="{% url 'money:delete_or_edit' transaction.id %}" id="{{ transaction.id }}">
                                        {% csrf_token %}
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">
                                                    <span class="aleft">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </span>&nbsp;
                                                    {% if cur_language == 'vi' %}Sửa giao dịch{% else %}Edit transaction{% endif %}
                                                    <span class="aright">
                                                        <a class="btn" href="" data-dismiss="modal" data-toggle="modal" data-target="#delete_transaction{{ transaction.id }}">{% if cur_language == 'vi' %}Xóa{% else %}Delete{% endif %}</a>
                                                    </span>
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="amount" class="col-form-label">{% if cur_language == 'vi' %}Số tiền{% else %}Amount{% endif %}</label>
                                                    <input class="form-control" type="text" id="amount" name="amount" required pattern="[1-9]{1}\d{0,9}" value="{{ transaction.amount }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="category" class="col-form-label">{% if cur_language == 'vi' %}Loại giao dịch{% else %}Category{% endif %}</label>
                                                    <select class="form-control" id="category" name="category">
                                                        {% for c in category %}
                                                            {% if c == transaction.category %}
                                                                <option selected>{{ c.name }}</option>
                                                            {% else %}
                                                                <option>{{ c.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="note" class="col-form-label">{% if cur_language == 'vi' %}Ghi chú{% else %}Note{% endif %}</label>
                                                    <input class="form-control" type="text" name="note" id="note" value="{{ transaction.note }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="time" class="col-form-label">{% if cur_language == 'vi' %}Thời gian{% else %}Time{% endif %}</label>
                                                    <input class="form-control" type="date" name="time" id="time" value="{{ transaction.time|date:"c" }}" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="wallet" class="col-form-label">{% if cur_language == 'vi' %}Ví{% else %}Wallet{% endif %}</label>
                                                    <select class="form-control" id="wallet" name="wallet" disabled>
                                                        {% for w in all_wallets %}
                                                            {% if w == transaction.wallet %}
                                                                <option selected>{{ w.name }}</option>
                                                            {% else %}
                                                                <option>{{ w.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!--<div class="form-group">
                                                    <label for="wallet">Wallet</label>
                                                    <input class="form-control" type="text" name="wallet" id="wallet">
                                                </div>-->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">{% if cur_language == 'vi' %}Hủy{% else %}Cancel{% endif %}</button>
                                                <button type="submit" class="btn btn-primary" name="save">{% if cur_language == 'vi' %}Lưu{% else %}Save{% endif %}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div id="delete_transaction{{ transaction.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <p>{% if cur_language == 'vi' %}Bạn muốn xóa giao dịch này?{% else %}Delete this transaction?{% endif %}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{% if cur_language == 'vi' %}Không{% else %}No{% endif %}</button>
                                            <button type="submit" class="btn btn-default" name="yes" form="{{ transaction.id }}">{% if cur_language == 'vi' %}Có{% else %}Yes{% endif %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $('.clickable-tr').on('click', function(){
                                    var myLink = $(this).attr('href');
                                    window.location.href = myLink;
                                });
                                $("#edit_transaction{{ transaction.id }}").on('hidden.bs.modal', function(e){
                                       $(this).find("#{{ transaction.id }}")[0].reset();
                                });
                            </script>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- container -->
        <br><br><br>
    {% endfor %}
{% else %}
    <p>No transaction are available.</p>
{% endif %}
<div id="transaction" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% if cur_language == 'vi' %}Thêm giao dịch{% else %}Add transaction{% endif %}</h4>
            </div>
            <div class="modal-body">
                <!-- form -->
                <form method="POST" action="{% url 'money:add_transaction' %}" id="add_transaction" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="amount" class="col-form-label">{% if cur_language == 'vi' %}Số tiền{% else %}Amount{% endif %}</label>
                        <input class="form-control" type="text" id="amount" name="amount" required pattern="[1-9]{1}\d{0,9}">
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-form-label">{% if cur_language == 'vi' %}Loại giao dịch{% else %}Category{% endif %}</label>
                        <select class="form-control" id="category" name="category">
                            {% for c in category %}
                                <option>{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="note" class="col-form-label">{% if cur_language == 'vi' %}Ghi chú{% else %}Note{% endif %}</label>
                        <input class="form-control" type="text" name="note" id="note">
                    </div>
                    <div class="form-group">
                        <label for="time" class="col-form-label">{% if cur_language == 'vi' %}Thời gian{% else %}Time{% endif %}</label>
                        <input class="form-control" type="date" name="time" id="time" value="{{ date }}" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                    </div>
                    <div class="form-group">
                        <label for="wallet" class="col-form-label">{% if cur_language == 'vi' %}Ví{% else %}Wallet{% endif %}</label>
                        <select class="form-control" id="wallet" name="wallet">
                            {% for w in all_wallets %}
                                {% if w.id == wallet_id %}
                                    <option selected>{{ w.name }}</option>
                                {% else %}
                                    <option>{{ w.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </form>
                <!-- endform-->
            </div>
            <div class="modal-footer">
                <div class="text-left">
                    <a data-toggle="modal" data-target="#sms" href="" data-dismiss="modal">{% if cur_language == 'vi' %}Dùng tin nhắn{% else %}SMSBanking{% endif %}</a>
                </div>
                <button class="btn btn-primary" type="submit" form="add_transaction">{% if cur_language == 'vi' %}Thêm{% else %}Add{% endif %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% if cur_language == 'vi' %}Hủy{% else %}Cancel{% endif %}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#transaction").on('hidden.bs.modal', function(e){
        $(this).find("#add_transaction")[0].reset();
    });
</script>
<div id="all_wallets" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="aleft">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </span> &nbsp;
                    {% if cur_language == 'vi' %}Chọn ví{% else %}Select wallet{% endif %}
                    <span class="aright">
                        <a class="btn" href="#" data-dismiss="modal" data-toggle="modal" data-target="#my_wallets">{% if cur_language == 'vi' %}Sửa{% else %}Edit{% endif %}</a>
                    </span>
                </h4>
            </div>
            <div class="modal-body">
                <p><a href="{% url 'money:transactions' %}">{% if cur_language == 'vi' %}Tất cả các ví{% else %}All wallets{% endif %}</a></p>
                <hr>
                <table>
                    <thead>
                    </thead>
                    <tbody class="table">
                        {% for wallet in all_wallets %}
                        <tr>
                            <td><a href="{% url 'money:transactions_in_wallet' wallet.id %}">{{ wallet.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#add_wallet">{% if cur_language == 'vi' %}Thêm ví{% else %}Add wallet{% endif %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="my_wallets" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% if cur_language == 'vi' %}Ví của tôi{% else %}My wallets{% endif %}</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tbody class="table">
                        {% for wallet in all_wallets %}
                        <tr>
                            <td><a href="#" data-dismiss="modal" data-toggle="modal" data-target="#edit_wallet{{ wallet.id }}">{{ wallet.name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#add_wallet">{% if cur_language == 'vi' %}Thêm ví{% else %}Add wallet{% endif %}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{% if cur_language == 'vi' %}Hủy{% else %}Cancel{% endif %}</button>
            </div>
        </div>
    </div>
</div>
<div id="report" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% if cur_language == 'vi' %}Biểu đồ{% else %}Report{% endif %}</h4>
            </div>
            <script>
                {% block jquery %}
                //var endpoint = '/api/chart/data/' + wallet_id.toString()
                var endpoint = "/api/chart/data/" + "{{ wallet_id }}"
                /*if (wallet_id) {
                    endpoint += wallet_id.toString();
                }*/
                var defaultDataE = []
                var color_cE = []
                var labelsE = []
                var defaultDataI = []
                var color_cI = []
                var labelsI = [];
                $.ajax({
                    method: "GET",
                    url: endpoint,
                    success: function(data){
                        labelsE = data.labelsE
                        defaultDataE = data.defaultE
                        color_cE = data.colorE
                        defaultDataI = data.defaultI
                        setChart()
                    },
                    error: function(error_data){
                        console.log("error")
                        console.log(error_data)
                    }
                })
                function setChart(){
                    var ctxE = document.getElementById("myChartE");
                    var myChartE = new Chart(ctxE, {
                        type: 'pie',
                        data: {
                            labels: labelsE,
                            datasets: [{
                                label: '',
                                data: defaultDataE,
                                backgroundColor: color_cE,
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Expense',
                            },
                            legend: {
                                display: false,
                            }
                        }
                    });
                    var ctxI = document.getElementById("myChartI");
                    var myChartI = new Chart(ctxI, {
                        type: 'bar',
                        data: {
                            labels: ['Income', 'Expense'],
                            datasets: [{
                                label: '',
                                data: defaultDataI,
                                backgroundColor: ['#FF0000', '#0101DF'],
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                                text: 'Income/Expense',
                            },
                            legend: {
                                display: false,
                            }
                        }
                    });
                }
                {% endblock %}
            </script>
            <div class="modal-body">
                <div class="first-column"><canvas id="myChartE"></canvas></div>
                <div class="second-column"><canvas id="myChartI"></canvas></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% if cur_language == 'vi' %}Hủy{% else %}Cancel{% endif %}</button>
            </div>
        </div>
    </div>
</div>
<div id="sms" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <form method="POST" action="{% url 'money:add_message' %}" id="msg">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{% if cur_language == 'vi' %}Thêm giao dịch{% else %}Add Transaction{% endif %}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message" class="col-form-label">{% if cur_language == 'vi' %}Tin nhắn:{% else %}Mesage:{% endif %}</label>
                        <textarea class="form-control" id="message" name="message" required data-pattern="{{ bank }}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="wallet" class="col-form-label">{% if cur_language == 'vi' %}Ví{% else %}Wallet{% endif %}</label>
                        <select class="form-control" id="wallet" name="wallet">
                            {% for w in all_wallets %}
                                {% if w.id == wallet_id %}
                                    <option selected>{{ w.name }}</option>
                                {% else %}
                                    <option>{{ w.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-left">
                        <a data-toggle="modal" data-target="#transaction" href="" data-dismiss="modal">{% if cur_language == 'vi' %}Giao Dịch{% else %}Transaction{% endif %}</a>
                    </div>
                    <button type="submit" class="btn btn-primary">{% if cur_language == 'vi' %}Thêm{% else %}Add{% endif %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% if cur_language == 'vi' %}Hủy{% else %}Cancel{% endif %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $("sms").on('hidden.bs.modal', function(e){
        $(this).find("#msg")[0].reset();
    });
</script>
<div id="add_wallet" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form method="POST" action="{% url 'money:add_wallet' %}" id="addwallet">
        {% csrf_token %}
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{% if cur_language == 'vi' %}Thêm ví{% else %}Add wallet{% endif %}</h4>
                </div>
                <div class="modal-body">
                    <!--<div class="form-group">
                        <label for="email">Email</label>
                            <input class="form-control" type="text" id="email">
                    </div>-->
                    <div class="form-group">
                        <label for="name" class="col-form-label">{% if cur_language == 'vi' %}Tên{% else %}Name{% endif %}</label>
                            <input class="form-control" type="text" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="balance" class="col-form-label">{% if cur_language == 'vi' %}Số dư{% else %}Balance{% endif %}</label>
                            <input class="form-control" type="text" name="balance" id="balance" required pattern="[1-9]{1}\d{0,9}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{% if cur_language == 'vi' %}Thêm{% else %}Add{% endif %}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% if cur_language == 'vi' %}Hủy{% else %}Cancel{% endif %}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $("#add_wallet").on('hidden.bs.modal', function(e){
        $(this).find("#addwallet")[0].reset();
    });
</script>
{% for wallet in all_wallets %}
    <div id="edit_wallet{{ wallet.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form method="POST" action="{% url 'money:delete_or_edit_wallet' wallet.id %}" id="{{ wallet.id }}">
            {% csrf_token %}
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="aleft">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </span>&nbsp;
                            {% if cur_language == 'vi' %}Sửa ví{% else %}Edit wallet{% endif %}
                            <span class="aright">
                                <a class="btn" href="" data-dismiss="modal" data-toggle="modal" data-target="#delete_wallet{{ wallet.id }}">{% if cur_language == 'vi' %}Xóa{% else %}Delete{% endif %}</a>
                            </span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <!--<div class="form-group">
                            <label for="email">Email</label>
                                <input class="form-control" type="text" id="email">
                        </div>-->
                        <div class="form-group">
                            <label for="name" class="col-form-label">{% if cur_language == 'vi' %}Tên{% else %}Name{% endif %}</label>
                                <input class="form-control" type="text" name="name" id="name" value="{{ wallet.name }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" name="save">{% if cur_language == 'vi' %}Lưu{% else %}Save{% endif %}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% if cur_language == 'vi' %}Hủy{% else %}Cancel{% endif %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        $("#edit_wallet{{ wallet.id }}").on('hidden.bs.modal', function(e){
            $(this).find("#{{ wallet.id }}")[0].reset();
        });
    </script>
    <div id="delete_wallet{{ wallet.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <h4><p>{% if cur_language == 'vi' %}Bạn muốn xóa ví này?{% else %}Do you want to delete this wallet?{% endif %}</p></h4>
                    <p>{% if cur_language == 'vi' %}Bạn sẽ mất tất cả giao dịch thuộc ví này và không thể lấy lại.{% else %}You will also delete all of its transactions and this action cannot be undone{% endif %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% if cur_language == 'vi' %}Không{% else %}No{% endif %}</button>
                    <button type="submit" class="btn btn-default" name="yes" form="{{ wallet.id }}">{% if cur_language == 'vi' %}Có{% else %}yes{% endif %}</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}

 <!--<ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>-->
