{% extends "base_generic.html" %}

{% block dropdown %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'login' %}">Account</a>
        <ul class="dropdown-menu">
            <!--<li><a href="{% url 'login' %}">Login</a></li>-->
            <li><a href="{% url 'money:logout_view' %}">Logout</a></li>
        </ul>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center">Add wallet</h3>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <!-- form -->
                <form class="form-horizontal" method="POST" action="{% url 'money:add_wallet' %}">
                    {% csrf_token %}
                    <!--<div class="form-group">
                        <label for="email">Email</label>
                            <input class="form-control" type="text" id="email">
                    </div>-->
                    <div class="form-group">
                        <label for="name">Name</label>
                            <input class="form-control" type="text" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="currency">Currency</label>
                            <input class="form-control" type="text" name="currency" id="currency">
                    </div>
                    <div class="form-group">
                        <label for="balance">Balance</label>
                            <input class="form-control" type="text" name="balance" id="balance" pattern="[0-9].*">
                    </div>
                    <div class="form-group text-right">
                            <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>
                <!-- endform-->
            </div>
        </div>
    </div><!-- container-->
{% endblock %}