<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>MoneySMS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--ho tro browser phien ban thap hon-->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- phu hop voi kich co man hinh khac nhau-->
    <!--<link rel="stylesheet" href="{% static "money/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "money/css/bootstrap-theme.min.css" %}">
    <script src="static/money/js/jquery.min.js"></script>
    <script src="static/money/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        #navbar-brand {
            position: absolute;
            left: 45%;
            text-align: center;
            margin: auto;
        }
        body {
            padding-right: 0 !important 
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Home</a>
    </div>
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li><a class="active" href="{% url 'money:transactions'%}">Transactions</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li class="dropdown">
                <a class="dropdown-toggle" class="navbar-text" data-toggle="dropdown">{{ user.username }}
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'logout'%}">Logout</a></li> 
                </ul>
            </li>
              
        {% else %}
            <li><a href="{% url 'money:register'%}">Sign up</a></li>   
            <li><a href="{% url 'login'%}">Login</a></li>   
        {% endif %}
    </ul>
    {% block navbar-brand %}
    {% endblock %}
    </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>


